@model eTickets.Models.Actor

@{
    ViewData["Title"] = @Model.FullName + " details";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <h1>Details for @Model.FullName</h1>
        <div class="row">
            <div class="col-md-8 offset-2">
                <div class="form-group">
                    <label asp-for="ProfilepictureURL" class="control-label"></label>
                    <input asp-for="ProfilepictureURL" class="form-control" readonly/>
                    <span asp-validation-for="ProfilepictureURL" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <img class="border-info rounded-circle" style="max-width: 150px;" id="ProfilepicturePreview">
                </div>
                <div class="form-group">
                    <label asp-for="FullName" class="control-label"></label>
                    <input asp-for="FullName" class="form-control" readonly/>
                    <span asp-validation-for="FullName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Bio" class="control-label"></label>
                    <input asp-for="Bio" class="form-control" readonly/>
                    <span asp-validation-for="Bio" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <a class="btn btn-outline-success float-right" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                    <a asp-action="Index" class="btn btn-outline-success">Show All</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function(){
            var output = document.getElementById("ProfilepicturePreview");
            output.src = $("#ProfilepictureURL").val();
        })
    </script>
}